@font-face {
    font-family: 'poppins';
    src: url(/fonts/Poppins-Regular.ttf) format(truetype) ;
}
@font-face {
    font-family: 'poppins black';
    src: url(/fonts/Poppins-Black.ttf) format(truetype);
}
@font-face {
    font-family: 'poppins bold';
    src: url(/fonts/Poppins-Bold.ttf) format(truetype) ;
}
@font-face {
    font-family: 'poppins medium';
    src: url(/fonts/Poppins-Medium.ttf) format(truetype) ;
}
@font-face {
    font-family: 'poppins semibold';
    src: url(/fonts/Poppins-SemiBold.ttf) format(truetype) ;
}